.breed-select {
}
.loader {
  display: block;
}

.loader-hiden {
  display: none;
}
.error-hiden {
  display: none;
}
.error {
  display: block;
  color: red;
}
.cat-info {
  display: flex;
  gap: 10px;
}
.cat-info-hiden {
  display: none;
}
